
/*--|/home/user/ngn-env/ngn/i/css/common.css|--*/
.clear {
clear: both;
}
.clear2 {
clear: both;
height: 1px;
}
.float-left {
float: left;
}
.float-right {
float: right;
}
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.heightFix {
height: 1px;
}
select {
max-width: 300px;
}
.pseudoLink {
text-decoration: none;
cursor: pointer;
border-bottom: 1px dotted;
}
.pseudoLink > span {
border-bottom: 1px dotted #009;
}
.pseudoLink:hover > span {
border-bottom: 1px dotted #000;
}
.iconsSet .pseudoLink {
border-bottom: none;
}
.iconsSet .pseudoLink b, .iconsSet .pseudoLink span {
border-bottom: 1px dotted;
}
.data {
display: none;
}
.hidden {
display: none !important;
}
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.gray, .gray a {
color: #AFAFAF;
}
.gray a:hover {
color: #555555;
}
.dgray, .dgray a {
color: #666 !important;
}
.dgray a:hover:not(.nonActive), a.dgray:hover:not(.nonActive) {
color: #000 !important;
}
input {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
/*--|/home/user/ngn-env/ngn/i/css/common/screen.css|--*/
/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}

input, select, textarea {
margin: 0px;
}

body {
line-height: 1.2;
}

table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
text-align: left;
font-weight: normal;
}
/*
table, td, th {
vertical-align: middle;
}
*/

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}

/* Remove annoying border on linked images. */
a img {
border: none;
}
a {
cursor: pointer;
}
/* -------------------------------------------------------------- 
   
   typography.css
   * Sets up some sensible default typography.
   
-------------------------------------------------------------- */

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
margin: 0;
}

/* Default font settings. 
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
body {
font-size: 12px;
color: #222;
background: #fff;
font-family: Verdana, Tahoma, "Helvetica Neue", Helvetica, sans-serif;
}

body {
font-size: 12px;
}
input {
font-size: 14px;
}

/* Headings
-------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
font-weight: normal; /*color: #111;*/
}

h1 {
font-size: 2em;
line-height: 1;
margin-bottom: 0.5em;
}
h2 {
font-size: 1.4em;
margin-bottom: 0.5em;
line-height: 1;
margin-top: 0;
}
h3 {
font-size: 1.3em;
line-height: 1;
margin-bottom: 0.5em;
margin-top: 0.5em;
}
h4 {
font-size: 1.2em;
line-height: 1.25;
margin-bottom: 0.7em;
margin-top: 0.7em;
font-weight: bold;
}
h5 {
font-size: 1.1em;
font-weight: bold;
margin-bottom: 1.5em;
}
h6 {
font-size: 1em;
font-weight: bold;
}

/* Text elements
-------------------------------------------------------------- */

p {
margin: 0 0 0.7em;
}

a:focus,
a:hover {
color: #000;
}
a {
color: #009;
text-decoration: underline;
}

blockquote {
margin: 1.5em;
color: #666;
font-style: italic;
}
strong {
font-weight: bold;
}
em, dfn {
font-style: italic;
}
dfn {
font-weight: bold;
}
sup, sub {
line-height: 0;
}

abbr,
acronym {
border-bottom: 1px dotted #666;
}
address {
margin: 0 0 1.5em;
font-style: italic;
}
del {
color: #666;
}

pre {
margin: 1.5em 0;
white-space: pre;
}
pre, code, tt {
font: 1em monospacem, 'andale mono', 'lucida console';
line-height: 1.5;
}

/* Lists
-------------------------------------------------------------- */

li ul,
li ol {
margin: 0 1.5em;
}
ul, ol {
margin: 0.5em 1.5em 0.5em 2.5em;
}

ul {
list-style-type: disc;
}
ol {
list-style-type: decimal;
}

dl {
margin: 0 0 1.5em 0;
}
dl dt {
font-weight: bold;
}
dd {
margin-left: 1.5em;
}
li {
margin-bottom: 0.5em
}
ul li {
list-style: square;
}

/* Tables
-------------------------------------------------------------- */

th {
font-weight: bold;
}
/*th,td,caption { padding: 4px 10px 4px 5px; }*/
th, td, caption {
padding: 0px;
}
tr.even td {
background: #e5ecf9;
}
tfoot {
font-style: italic;
}
caption {
background: #eee;
}

/* Misc classes
-------------------------------------------------------------- 

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 16px; }


.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }

.prepend-top { 
  margin-top:1.5em; 
}
.append-bottom { 
  margin-bottom:1.5em; 
}
*/

/* Use this to create a horizontal ruler across a column. */
hr {
background: #ddd;
color: #ddd;
clear: both;
float: none;
width: 100%;
height: 1px;
margin: 0 0 1.45em;
border: none;
}
hr.space {
background: #fff;
color: #fff;
}

/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
content: "\0020";
display: block;
height: 0;
clear: both;
visibility: hidden;
overflow: hidden;
}
.noOverflow {
overflow: hidden;
}
.clearfix, .container {
display: block;
}
.container {
position: relative;
}
/* Regular clearing
   apply to column that should drop below previous ones. */

/* --------------------------------------------------------------
   
   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms
   
   Usage:
   * For text fields, use class .title or .text
   
-------------------------------------------------------------- */

fieldset {
padding: 1.4em;
margin: 0 0 1.5em 0;
border: 1px solid #ccc;
}
legend {
font-weight: bold;
font-size: 1.2em;
}

/* Form fields
-------------------------------------------------------------- */

.fld, select {
border: 1px solid #bbb;
}
.fld:focus, textarea:focus, select:focus {
border: 1px solid #666;
}

input.text,
input.title {
width: 300px;
padding: 5px;
}
input.title {
font-size: 1.5em;
}
textarea {
width: 390px;
height: 250px;
padding: 5px;
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.error {
color: #FF7F7F;
}

embed {
display: block;
}
/*--|/home/user/ngn-env/ngn/i/css/common/layout.css|--*/
/* A container should group all your columns. */
.container, .fContainer {
width: 850px;
margin: 0 auto;
}

/* Use this class on any .span / container to see the grid. */
.showgrid {
/* background: url(layout.png); */
}

/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {
float: left;
margin-right: 10px;
}

/* The last column in a row needs this class. */
.last, div.last {
margin-right: 0;
}

/* Use these classes to set the width of a column. */
.span-1 {
width: 30px;
}
.span-2 {
width: 70px;
}
.span-3 {
width: 110px;
}
.span-4 {
width: 150px;
}
.span-5 {
width: 190px;
}
.span-6 {
width: 230px;
}
.span-7 {
width: 270px;
}
.span-8 {
width: 310px;
}
.span-9 {
width: 350px;
}
.span-10 {
width: 390px;
}
.span-11 {
width: 430px;
}
.span-12 {
width: 470px;
}
.span-13 {
width: 510px;
}
.span-14 {
width: 550px;
}
.span-15 {
width: 590px;
}
.span-16 {
width: 630px;
}
.span-17 {
width: 670px;
}
.span-18 {
width: 710px;
}
.span-19 {
width: 750px;
}
.span-20 {
width: 790px;
}
.span-21 {
width: 830px;
}
.span-22 {
width: 870px;
}
.span-23 {
width: 910px;
}
.span-24 {
width: 950px;
margin: 0;
}

/* Add these to a column to append empty cols. */
.append-1 {
padding-right: 40px;
}
.append-2 {
padding-right: 80px;
}
.append-3 {
padding-right: 120px;
}
.append-4 {
padding-right: 160px;
}
.append-5 {
padding-right: 200px;
}
.append-6 {
padding-right: 240px;
}
.append-7 {
padding-right: 280px;
}
.append-8 {
padding-right: 320px;
}
.append-9 {
padding-right: 360px;
}
.append-10 {
padding-right: 400px;
}
.append-11 {
padding-right: 440px;
}
.append-12 {
padding-right: 480px;
}
.append-13 {
padding-right: 520px;
}
.append-14 {
padding-right: 560px;
}
.append-15 {
padding-right: 600px;
}
.append-16 {
padding-right: 640px;
}
.append-17 {
padding-right: 680px;
}
.append-18 {
padding-right: 720px;
}
.append-19 {
padding-right: 760px;
}
.append-20 {
padding-right: 800px;
}
.append-21 {
padding-right: 840px;
}
.append-22 {
padding-right: 880px;
}
.append-23 {
padding-right: 920px;
}

/* Add these to a column to prepend empty cols. */
.prepend-1 {
padding-left: 40px;
}
.prepend-2 {
padding-left: 80px;
}
.prepend-3 {
padding-left: 120px;
}
.prepend-4 {
padding-left: 160px;
}
.prepend-5 {
padding-left: 200px;
}
.prepend-6 {
padding-left: 240px;
}
.prepend-7 {
padding-left: 280px;
}
.prepend-8 {
padding-left: 320px;
}
.prepend-9 {
padding-left: 360px;
}
.prepend-10 {
padding-left: 400px;
}
.prepend-11 {
padding-left: 440px;
}
.prepend-12 {
padding-left: 480px;
}
.prepend-13 {
padding-left: 520px;
}
.prepend-14 {
padding-left: 560px;
}
.prepend-15 {
padding-left: 600px;
}
.prepend-16 {
padding-left: 640px;
}
.prepend-17 {
padding-left: 680px;
}
.prepend-18 {
padding-left: 720px;
}
.prepend-19 {
padding-left: 760px;
}
.prepend-20 {
padding-left: 800px;
}
.prepend-21 {
padding-left: 840px;
}
.prepend-22 {
padding-left: 880px;
}
.prepend-23 {
padding-left: 920px;
}

/* Border on right hand side of a column. */
div.border {
padding-right: 4px;
margin-right: 5px;
border-right: 1px solid #eee;
}

/* Border with more whitespace, spans one column. */
div.colborder {
padding-right: 24px;
margin-right: 25px;
border-right: 1px solid #eee;
}

/* Use these classes on an element to push it into the
   next column, or to pull it into the previous column.  */

.pull-1 {
margin-left: -40px;
}
.pull-2 {
margin-left: -80px;
}
.pull-3 {
margin-left: -120px;
}
.pull-4 {
margin-left: -160px;
}
.pull-5 {
margin-left: -200px;
}
.pull-6 {
margin-left: -240px;
}
.pull-7 {
margin-left: -280px;
}
.pull-8 {
margin-left: -320px;
}
.pull-9 {
margin-left: -360px;
}
.pull-10 {
margin-left: -400px;
}
.pull-11 {
margin-left: -440px;
}
.pull-12 {
margin-left: -480px;
}
.pull-13 {
margin-left: -520px;
}
.pull-14 {
margin-left: -560px;
}
.pull-15 {
margin-left: -600px;
}
.pull-16 {
margin-left: -640px;
}
.pull-17 {
margin-left: -680px;
}
.pull-18 {
margin-left: -720px;
}
.pull-19 {
margin-left: -760px;
}
.pull-20 {
margin-left: -800px;
}
.pull-21 {
margin-left: -840px;
}
.pull-22 {
margin-left: -880px;
}
.pull-23 {
margin-left: -920px;
}
.pull-24 {
margin-left: -960px;
}

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {
float: left;
position: relative;
}

.push-1 {
margin: 0 -40px 1.5em 40px;
}
.push-2 {
margin: 0 -80px 1.5em 80px;
}
.push-3 {
margin: 0 -120px 1.5em 120px;
}
.push-4 {
margin: 0 -160px 1.5em 160px;
}
.push-5 {
margin: 0 -200px 1.5em 200px;
}
.push-6 {
margin: 0 -240px 1.5em 240px;
}
.push-7 {
margin: 0 -280px 1.5em 280px;
}
.push-8 {
margin: 0 -320px 1.5em 320px;
}
.push-9 {
margin: 0 -360px 1.5em 360px;
}
.push-10 {
margin: 0 -400px 1.5em 400px;
}
.push-11 {
margin: 0 -440px 1.5em 440px;
}
.push-12 {
margin: 0 -480px 1.5em 480px;
}
.push-13 {
margin: 0 -520px 1.5em 520px;
}
.push-14 {
margin: 0 -560px 1.5em 560px;
}
.push-15 {
margin: 0 -600px 1.5em 600px;
}
.push-16 {
margin: 0 -640px 1.5em 640px;
}
.push-17 {
margin: 0 -680px 1.5em 680px;
}
.push-18 {
margin: 0 -720px 1.5em 720px;
}
.push-19 {
margin: 0 -760px 1.5em 760px;
}
.push-20 {
margin: 0 -800px 1.5em 800px;
}
.push-21 {
margin: 0 -840px 1.5em 840px;
}
.push-22 {
margin: 0 -880px 1.5em 880px;
}
.push-23 {
margin: 0 -920px 1.5em 920px;
}
.push-24 {
margin: 0 -960px 1.5em 960px;
}

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {
float: right;
position: relative;
}

/*--|/home/user/ngn-env/projects/bcreator/m/css/landing/design.css|--*/
.container {
width: 950px;
}


html,
body {
margin: 0;
padding: 0;
height: 100%;
}
.container {
min-height: 100%;
position: relative;
background: #f2f2f2;
}
.container.home {
background: #fff;
}
.head {
background: #fff;
padding: 10px;
}
.content {
padding-bottom: 100px; /* Height of the footer element */
position: relative;
}
.footer {
background: #33363B;
height: 100px;
position: absolute;
bottom: 0;
left: 0;
}
.footer .cont {
margin: 20px;
background: url(/m/img/landing/zukul.png) no-repeat;
color: #CACBCF;
min-height: 70px;
padding-left: 150px;
}
.footer .cont a {
color: #E8E9EA;
}


.head .cont {
padding: 20px 0;
}
.head {
position: relative;
}
.head .auth {
position: absolute;
top: 0;
right: 0;
}
.head .auth {
background: #3A4452;
padding: 10px;
color: #fff;
}
.head .auth a {
color: #fff;
text-decoration: none;
}
.head .auth a:hover {
text-decoration: underline;
}
.head .menu {
position: absolute;
bottom: 0;
left: 180px;
}
.head .menu li {
display: block;
float: left;
margin: 0;
}
.head .menu ul li a {
background: #fff;
padding: 8px 14px 9px;
display: block;
color: #3A4452;
text-decoration: none;
}
.head .menu ul li.active a {
background: #3A4452;
color: #fff;
}
.head .menu ul li a:hover {
color: #fff;
background: #FF8A00;
}


.btn {
background: #FF8A00;
padding: 6px 10px !important;
font-weight: bold;
color: #fff;
text-decoration: none;
display: inline-block;
border: 0;
cursor: pointer;
}
.btn:hover {
background: #3A4452;
text-decoration: underline;
color: #fff;
}
.subtitle {
font-size: 16px;
margin-bottom: 20px;
}
.button {
font-size: 16px;
margin-bottom: 20px;
}
.content h1 {
font-size: 20px;
margin: 20px 0;
text-align: center;
}
.banners {
position: absolute;
top: 120px;
}
.banners.left {
left: 20px;
}
.banners.right {
right: 20px;
}
/*--|/home/user/ngn-env/projects/bcreator/m/css/landing/home.css|--*/
body {
font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}
.man {
height: 331px;
background: url(/m/img/landing/man.png) no-repeat;
position: relative;
}
.frame {
position: absolute;
top: 25px;
left: 470px;
width: 333px;
height: 275px;
}
.frame .body {
height: 170px;
}
.frame .foot {
height: 105px;
}
.frame .foot p {
font-size: 10px;
}
.frame .foot .btn {
margin-bottom: 10px;
}
.frame .cont {
padding: 15px;
}
.frame .foot .cont {
padding-top: 15px;
}
a {
color: #FF8A00;
}
a:hover {
color: #000;
}
.format {
display: inline-block;
width: 40px;
height: 20px;
background: url(/m/img/landing/format.png) no-repeat;
}
.format span {
display: inline-block;
color: #5E554E;
padding: 4px 0 0 6px;
}

.icons {
text-align: center;
padding: 20px 0;
margin-bottom: 15px;
}
.icons div {
color: #3A4452;
background: center top;
display: inline-block;
vertical-align: top;
width: 250px;
}
.icons i {
display: inline-block;
width: 94px;
height: 94px;
margin-bottom: 15px;
background: #3A4452;
}
.icons .easy i {
background-image: url(/m/img/landing/easy.png)
}
.icons .template i {
background-image: url(/m/img/landing/template.png)
}
.icons .publish i {
background-image: url(/m/img/landing/publish.png)
}
.icons h2 {
font-weight: bold;
}
.examples, .responses {
background: #3A4452;
margin-bottom: 40px;
position: relative;
text-align: center;
color: #fff;
}
.examples .body {
display: inline-block;
padding: 20px;
}
.slider .left, .slider .right {
position: absolute;
cursor: pointer;
top: 70px;
}
.slider .left {
left: 20px;
}
.slider .right {
right: 20px;
margin-left: 20px;
}
.slider .left:hover, .slider .right:hover {
background: #FF8A00;
}
.examples img {
display: block;
float: left;
}
.examplesWrapper img {
width: 150px;
max-height: 150px;
margin-right: 20px;
}
.examplesWrapper {
float: left;
width: 760px;
}
.title h2 {
background: #3A4452;
display: inline-block;
margin-left: 150px;
color: #fff;
margin-bottom: 0;
padding: 10px 15px;
font-weight: bold;
}
.features {
text-align: center;
}
.features .item {
text-align: left;
margin-right: 30px;
background: url(/m/img/landing/li.png) no-repeat;
width: 150px;
padding-top: 7px;
padding-left: 40px;
display: inline-block;
min-height: 60px;
}
.responses, .bg {
width: 950px;
height: 245px;
}
.responsesWrapper {
width: 950px;
z-index: 100;
position: absolute;
}
.responses .bg {
z-index: 10;
position: absolute;
background: url(/m/img/landing/responses-bg.png);
opacity: 0.3;
}
.responses .left,.responses .right {
z-index: 100;
top: 90px;
}
.responses .item {
text-align: center;
}
.responses .item .cont {
padding: 30px 250px;

}
.responses .item img {
border-radius: 100px;
}
/*--|/home/user/ngn-env/projects/bcreator/m/css/landing/form.css|--*/
.center {
text-align: center;
}
.apeform {
text-align: left;
display: inline-block;
}
.apeform .help {
margin-top: 5px;
}
.apeform .element {
margin-bottom: 20px;
}
.apeform input, .apeform select, .apeform textarea {
font-size: 16px;
}
.apeform input, .apeform textarea {
padding: 5px;
border: 1px solid #ccc;
}
.apeform textarea {
height: 100px;
}

/*--|/home/user/ngn-env/projects/bcreator/m/css/landing/table.css|--*/
.bannersList {
padding-bottom: 20px;
}
.bannersList a {
text-align: center;
color: #555;
font-size: 11px;
display: inline-block;
border: 1px solid #ccc;
background: #fff;
width: 100px;
height: 100px;
margin: 0 10px 10px 0;
}
.bannersList a:hover {
border-color: #555;
}
.bannersList span {
display: block;
margin-top: 40px;
}
.dialog {
background: #fff;
}
.table {
display: inline-block;
margin: auto;

}
.table th {
background: #353535;
color: #fff;
border-right: 1px solid #5d5d5d;
}
.table td, .table th {
padding: 5px 10px;
}
.table td {
border-right: 1px solid #e8e8e8;
}
.table tr:nth-child(odd) {
background: #eaeaea;
}
.table .preview {
position: relative;
}
.table .preview img.thumb {
cursor: pointer;
max-height: 50px;
max-width: 200px;
}
.table .fullPreview {
cursor: pointer;
top: 0;
left: 0;
display: none;
position: absolute;
z-index: 100;
}
.table p {
margin: 0 0 7px 0;
}
.table b {
font-weight: bold;
}
