.container {
width: 960px;
position: relative;
}
.block {
}
html,
body {
margin: 0;
padding: 0;
height: 100%;
background: #fff;
font-size: 15px;
}
.container {
min-height: 100%;
position: relative;
}
.container.home {
background: #fff;
}
.content {
padding-bottom: 100px; /* Height of the footer element */
position: relative;
}
.footer {
background: #33363B;
height: 110px;
font-size: 15px;
/*
position: absolute;
bottom: 0;
left: 0;
*/
text-align: center;
}
.footer .cont {
text-align: left;
display: inline-block;
margin: 20px;
background: url(/m/img/landing/zukul.png) no-repeat;
color: #CACBCF;
min-height: 70px;
}
.footer .cont .body {
padding: 8px 0 0 70px;
}
.footer .cont a {
color: #E8E9EA;
}

#trash_ctn {
 background: #888;
 -moz-border-radius: 50px;
 -webkit-border-radius: 50px;
 border-radius: 50px;
}

.head .cont {
padding: 20px 0;
}
.head {
position: relative;
font-size: 15px;
}
.head .auth {
position: absolute;
top: 0;
right: 0;
}
.head .auth {
background: #3A4452;
padding: 10px;
color: #fff;
}
.head .auth a {
color: #fff;
text-decoration: none;
}
.head .auth a:hover {
text-decoration: underline;
}
.head .menu {
position: absolute;
bottom: 0;
left: 180px;
}
.head .menu li {
display: block;
float: left;
margin: 0;
}
.head .menu ul li a {
background: #fff;
padding: 8px 14px 9px;
display: block;
color: #3A4452;
text-decoration: none;
}
.head .menu ul li.active a {
background: #3A4452;
color: #fff;
}
.head .menu ul li a:hover {
color: #fff;
background: #FF8A00;
}


.btn {
background: #FF8A00;
font-weight: bold;
color: #fff;
text-decoration: none;
display: inline-block;
border: 0 !important;
cursor: pointer;
padding: 10px 20px !important;
font-size: 20px !important;
}
.btn:hover {
background: #3A4452;
text-decoration: underline;
color: #fff;
}
.subtitle {
font-size: 16px;
margin-bottom: 20px;
}
.button {
font-size: 16px;
margin-bottom: 20px;
}
.content h1 {
font-size: 20px;
margin: 20px 0;
}

.menu ul ul {
display: none;
position: absolute;
top: 34px;
left: -22px;
z-index: 200;
}
.menu ul ul li {
width: 170px;
}
.menu ul li {
position: relative;
}
.menu ul li:hover ul {
display: block;
}
