.container {
width: 950px;
}


html,
body {
margin: 0;
padding: 0;
height: 100%;
}
.container {
min-height: 100%;
position: relative;
background: #f2f2f2;
}
.container.home {
background: #fff;
}
.head {
background: #fff;
padding: 10px;
}
.content {
padding-bottom: 100px; /* Height of the footer element */
position: relative;
}
.footer {
background: #33363B;
height: 100px;
position: absolute;
bottom: 0;
left: 0;
}
.footer .cont {
margin: 20px;
background: url(/m/img/landing/zukul.png) no-repeat;
color: #CACBCF;
min-height: 70px;
padding-left: 150px;
}
.footer .cont a {
color: #E8E9EA;
}


.head .cont {
padding: 20px 0;
}
.head {
position: relative;
}
.head .auth {
position: absolute;
top: 0;
right: 0;
}
.head .auth {
background: #3A4452;
padding: 10px;
color: #fff;
}
.head .auth a {
color: #fff;
text-decoration: none;
}
.head .auth a:hover {
text-decoration: underline;
}
.head .menu {
position: absolute;
bottom: 0;
left: 180px;
}
.head .menu li {
display: block;
float: left;
margin: 0;
}
.head .menu ul li a {
background: #fff;
padding: 8px 14px 9px;
display: block;
color: #3A4452;
text-decoration: none;
}
.head .menu ul li.active a {
background: #3A4452;
color: #fff;
}
.head .menu ul li a:hover {
color: #fff;
background: #FF8A00;
}


.btn {
background: #FF8A00;
padding: 6px 10px !important;
font-weight: bold;
color: #fff;
text-decoration: none;
display: inline-block;
border: 0;
cursor: pointer;
}
.btn:hover {
background: #3A4452;
text-decoration: underline;
color: #fff;
}

.subtitle {
font-size: 16px;
margin-bottom: 20px;
}
.button {
font-size: 16px;
margin-bottom: 20px;
}

.content h1 {
font-size: 20px;
margin: 20px 0;
text-align: center;
}

.banners {
position: absolute;
top: 120px;
}
.banners.left {
left: 20px;
}
.banners.right {
right: 20px;
}