.center {
text-align: center;
}
.apeform {
text-align: left;
display: inline-block;
}
.apeform .help {
margin-top: 5px;
}
.apeform .element {
margin-bottom: 20px;
}
.apeform input, .apeform select, .apeform textarea {
font-size: 16px;
}
.apeform input, .apeform textarea {
padding: 5px;
border: 1px solid #ccc;
}
.apeform textarea {
height: 100px;
}
