body {
font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
font-size: 20px;
}
.man {
height: 660px;
background: url(/m/img/landing/man-bg.png) no-repeat top center;
position: relative;
}
.frame {
position: absolute;
top: 50px;
right: 0;
width: 645px;
height: 549px;
background: url(/m/img/landing/man-frame.png) no-repeat;
font-size: 17px;
}
.frame .cont {
padding: 30px 20px 0 35px;
}
.frame .body {
margin-left: 114px;
height: 343px;
}
.frame .body p {
margin-bottom: 20px;
}
.frame .foot {
margin-left: 114px;
height: 105px;
font-size: 15px;
}
.frame .foot .cont {
padding-top: 30px;
}
.frame .foot .btn {
margin-bottom: 30px;
font-size: 25px;
}
a {
color: #FF8A00;
}
a:hover {
color: #000;
}
.format {
display: inline-block;
width: 60px;
height: 30px;
background: url(/m/img/landing/format.png) no-repeat;
}
.format span {
display: inline-block;
color: #5E554E;
padding: 6px 0 0 8px;
}
.icons {
text-align: center;
padding: 20px 0;
margin-bottom: 15px;

}
.icons .item {
color: #3A4452;
background: center top;
display: inline-block;
vertical-align: top;
width: 310px;
}
.icons i {
display: inline-block;
width: 94px;
height: 94px;
margin-bottom: 15px;
background: #3A4452;
}
.icons .easy i {
background-image: url(/m/img/landing/easy.png)
}
.icons .template i {
background-image: url(/m/img/landing/template.png)
}
.icons .publish i {
background-image: url(/m/img/landing/publish.png)
}
.icons h2 {
font-weight: bold;
}
.examplesTitle h2 {
margin: 0;
margin-left: 75px;
font-size: 20px;
background: #3A4452;
display: inline-block;
color: #fff;
padding: 10px 20px;
}
.examples, .responses {
background: #3A4452;
margin-bottom: 40px;
position: relative;
text-align: center;
color: #fff;
}
.examples .body {
display: inline-block;
padding: 20px;
}
.slider .left, .slider .right {
position: absolute;
cursor: pointer;
top: 40px;
}
.slider .left {
left: 20px;
}
.slider .right {
right: 20px;
margin-left: 20px;
}
.slider .left:hover, .slider .right:hover {
background: #FF8A00;
}
.examples img {
display: block;
float: left;
}
.examplesWrapper img {
max-height: 150px;
margin-right: 20px;
}
.examplesWrapper {
float: left;
width: 760px;
}
.title h2 {
background: #3A4452;
display: inline-block;
margin-left: 150px;
color: #fff;
margin-bottom: 0;
padding: 10px 15px;
font-weight: bold;
}
.features {
text-align: center;
padding-bottom: 30px;
}
.features .item {
text-align: left;
margin-right: 30px;
background: url(/m/img/landing/li.png) no-repeat;
width: 140px;
padding-top: 0px;
padding-left: 60px;
display: inline-block;
min-height: 60px;
vertical-align: top;
}
.responses {
height: 363px;
background: url(/m/img/landing/responses-bg.png);
}
.responses .left,.responses .right {
z-index: 100;
top: 150px;
}
.responses .item {
text-align: center;
width: 960px;
float: left;
}
.responses .item .cont {
padding: 50px 50px;
}
.responses .item img {
border-radius: 100px;
}
