.dialog {
background: #fff;
}
.tableButton {
margin-top: 17px;
float: right;
}
.table table {
width: 100%;
}
.table th {
background: #353535;
color: #fff;
border-right: 1px solid #5d5d5d;
}
.table td, .table th {
padding: 5px 10px;
}
.table td {
border-right: 1px solid #e8e8e8;
}
.table tr:nth-child(odd) {
background: #eaeaea;
}
.table .preview {
position: relative;
}
.table .preview img.thumb {
cursor: pointer;
max-height: 50px;
max-width: 200px;
}
.table .fullPreview {
cursor: pointer;
top: 0;
left: 0;
display: none;
position: absolute;
z-index: 100;
}
.table p {
margin: 0 0 7px 0;
}
.table b {
font-weight: bold;
}
