.header .right .sign {
margin: 20px 0 0 0;
}
.header .right .item {
display: inline-block;
color: #555555;
font-size: 18px;
font-family: 'Proxima Nova SemiBold';
padding: 0 15px 0 0;
}
.header .right .item .link {
color: #555555;
text-decoration: none;
font-weight: bold;
}
.header .right .item a:hover {
text-decoration: underline;
}
.header .right .sign .item:last-child .link {
padding: 0 0 0 12px;
}
.header .right .sign .item:last-child .link:after {
content: none;
}
.header .right .sign .item .link .fa {
margin-right: 8px;
position: relative;
}

.banner {
background: url(/public/images/images_new/banner.png) no-repeat top center;
background-size: cover;
height: 900px;
}
.banner .form {
width: 472px;
float: right;
margin: 122px 0 0 0;
background: rgba(255, 255, 255, 0.9);
/* background-image: -moz-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%); */
box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.09);
border-radius: 8px;
text-align: center;
padding: 34px 20px 50px;
border: 1px solid #CFDADC;
}
.banner .form .title {
margin: 27px 0 -5px;
text-transform: uppercase;
}
.banner .form .title .blue {
color: #0049c1;
font-size: 24px;
letter-spacing: -0.2px;
line-height: 31px;
font-family: 'Proxima Nova Bold';
}
.banner .form .title .gray {
color: #303030;
font-size: 26px;
letter-spacing: -0.2px;
line-height: 31px;
font-family: 'Proxima Nova Bold';
}
.banner .form .title .percent {
font-family: 'Proxima Nova SemiBold';
}
.banner .form input[type='text'] {
margin: 21px auto 0;
border: 1px solid #CCCBCB;
border-radius: 7px;
outline: none;
font-size: 17.93px;
font-family: 'Lato';
padding: 15px 17px 16px 43px;
color: #3b3b3b;
background-color: #FFFFFF !important;
width: 337px;
}
.banner .form input[name='firstName'] {
background: url(/public/images/images_new/icons/name.png) no-repeat 15px center;
}
.banner .form input[name='lastName'] {
background: url(/public/images/images_new/icons/name.png) no-repeat 15px center;
}
.banner .form input[name='email'] {
background: url(/public/images/images_new/icons/lastname.png) no-repeat 17px center;
}
.banner .form input[type='submit'], .banner .form input[type='button'] {
border-style: solid;
border-width: 3px;
border-color: rgb(195, 3, 3);
border-radius: 7px;
background-image: -moz-linear-gradient(90deg, rgb(245, 0, 0) 0%, rgb(156, 0, 0) 24%, rgb(156, 0, 0) 47%, rgb(242, 0, 0) 82%, rgb(125, 0, 0) 100%);
background-image: -webkit-linear-gradient(90deg, rgb(245, 0, 0) 0%, rgb(156, 0, 0) 24%, rgb(156, 0, 0) 47%, rgb(242, 0, 0) 82%, rgb(125, 0, 0) 100%);
background-image: -ms-linear-gradient(90deg, rgb(245, 0, 0) 0%, rgb(156, 0, 0) 24%, rgb(156, 0, 0) 47%, rgb(242, 0, 0) 82%, rgb(125, 0, 0) 100%);
width: 397px;
height: 55px;
display: inline-block;
outline: none;
cursor: pointer;
margin: 30px 0 0 0;
font-family: 'Lato';
font-size: 21.52px;
color: #FFFFFF;
text-decoration: none;
}