@import url(https://fonts.googleapis.com/css?family=Lato:700,400,300);

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url(/public/fonts/proximanova-bold.otf);
}

@font-face {
	font-family: 'Proxima Nova SemiBold';
	src: url(/public/fonts/proximanova-semibold.otf);
}

@font-face {
	font-family: 'Proxima Nova';
	src: url(/public/fonts/proximanova-regular.otf);
}

@font-face {
	font-family: 'Proxima Nova Light';
	src: url(/public/fonts/proximanova-light.otf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body, #page {
	width: 100%;
	height: 100%;
}

.block {
	width: 1200px;
}

.full {
	width: 100%;
}

@media(min-width: 320px) {
	.block {
		width: 100%;
		margin: 0;
	}

	.full {
		min-width: 0;
	}
}

@media(min-width: 768px) {
	.block {
		width: 738px;
		margin: auto;
	}

	.full {
		min-width: 768px;
	}
}

@media(min-width: 1030px) {
	.block {
		width: 1000px;
		margin: auto;
	}

	.full {
		min-width: 1000px;
	}
}

@media(min-width: 1230px) {
	.block {
		width: 1200px;
		margin: auto;
	}

	.full {
		min-width: 1200px;
	}
}

.clearfix {
	clear: both;
}

.header {
	background: #FFFFFF;
	padding: 24px 0;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.18);
	z-index: 1;
}

.header .logo {
	float: left;
}

.header .right {
	float: right;
}

.header .right .menu {
	float: left;
	margin: 13px 0 0 0;
}

.header .right .menu ul li {
	float: left;
	margin-right: 15px;
}

.header .right .menu ul li:last-child {
	margin-right: 0;
}

.header .right .menu ul li a {
	background: transparent;
	padding: 8px 14px 9px;
	display: block;
	font-family: 'Proxima Nova SemiBold';
	font-size: 16px;
	color: #555555;
	text-decoration: none;
}

.header .right .menu ul > li.active > a {
	background: #004ECF;
	border-radius: 5px;
	color: #FFFFFF;
}

.header .right .signup {
	float: left;
	margin: 23px 0 0 40px;
}

.header .right .signup .link {
	font-size: 16px;
	color: #FFFFFF;
	font-family: 'Proxima Nova SemiBold';
	background-image: -moz-linear-gradient( 90deg, #9C0000 0%, #F20000 100%);
	background-image: -webkit-linear-gradient( 90deg, #9C0000 0%, #F20000 100%);
	background-image: -ms-linear-gradient( 90deg, #9C0000 0%, #F20000 100%);
	text-decoration: none;
	padding: 13px 37px;
	border-radius: 25px;
}

.header .right .signup .link:hover {
	background: #9C0000;
}

.header .right .mobile_menu {
	width: 100%;
	background: #FFFFFF;
	position: absolute;
	z-index: 11111111;
	left: 0;
	top: 110px;
	border-bottom: 1px solid #5FB0E4;
}

.header .right .mobile_menu .icon {
	position: relative;
	width: 738px;
	margin: auto;
}

.header .right .mobile_menu .icon .link {
	position: absolute;
	right: 15px;
	top: -63px;
}

.header .right .mobile_menu .list {
	display: none;
}

.header .right .mobile_menu .list li {
	width: 100%;
	display: block;
}

.header .right .mobile_menu .list li a {
	text-decoration: none;
	font-family: 'Proxima Nova SemiBold';
	font-size: 16px;
	color: #555555;
	width: calc(100% - 28px);
    padding: 15px 14px;
    display: inline-block;
    transition: 0.3s background, 0.3s box-shadow;
}

.header .right .mobile_menu .list li a:hover {
	background: #EEEEEE;
	box-shadow: inset 5px 0px 0px 0px #5FB0E4;
}

@media(min-width: 320px) {
	.header .right .menu {
		display: none;
	}

	.header .right .signup {
		display: none;
	}

	.header .right .mobile_menu .list .signup_item {
		display: block;
	}

	.header .right .mobile_menu .icon {
		width: 100%;
	}
}

@media(min-width: 768px) {
	.header .right .mobile_menu .icon {
		width: 738px;
	}

	.header .right .signup {
		margin-right: 60px;
		display: block;
	}

	.header .right .mobile_menu .list .signup_item {
		display: none;
	}
}

@media(min-width: 992px) {
	.header .right .signup {
		display: block;
	}

	.header .right .menu {
		display: none;
	}

	.header .right .mobile_menu {
		display: block;
	}
}

@media(min-width: 1030px) {
	.header .right .menu {
		display: block;
	}

	.header .right .menu ul li {
		margin-right: 0;
	}

	.header .right .signup {
		margin-left: 10px;
	}

	.header .right .mobile_menu {
		display: none;
	}

	.header .right .signup {
		margin-right: 0;
	}
}

@media(min-width: 1230px) {
	.header .right .menu ul li {
		margin-right: 15px;
	}

	.header .right .signup {
		margin-left: 40px;
		margin-right: 0;
	}
}

.footer {
	padding: 73px 0 0 0;
	width: 100%;
	background: #FFFFFF;
	border-top: 1px solid #E0E0E0;
	z-index: 2;
}

.footer .left {
	width: 433px;
	float: left;
}

.footer .left .logo {
	margin: 0 0 15px 0;
}

.footer .left .quote {
	font-family: 'Proxima Nova Light';
	font-size: 15px;
	color: #7a7a7a;
	line-height: 24px;
	width: 400px;
}

.footer .left .links {
	margin: 10px 0 0 0;
}

.footer .left .links .link {
	display: inline-block;
	font-family: 'Proxima Nova Light';
	font-size: 15px;
	color: #7a7a7a;
	line-height: 12px;
	text-decoration: none;
	border-right: 1px solid #7A7A7A;
	padding: 0 5px 0 0;
	margin: 0 0 8px 0;
}

.footer .left .links .link:nth-child(3) {
	padding: 0 0 0 2px;
	border: none;
}

.footer .menu {
	float: left;
	width: 567px;
	margin: -5px 0 0 0;
}

.footer .menu .col {
	width: 33.3%;
	float: left;
}

.footer .menu .col .title {
	font-family: 'Proxima Nova';
	font-size: 15px;
	line-height: 18px;
	color: #7a7a7a;
	margin: 0 0 3px 0;
}

.footer .menu .col .links .item a {
	color: #7a7a7a;
	font-size: 15px;
	line-height: 34px;
	font-family: 'Proxima Nova Light';
	text-decoration: none;
}

.footer .right {
	width: 176px;
	float: left;
}

.footer .right .signup {
	border-radius: 5px;
	background: url(/public/images/images_new/button_4.png) no-repeat;
	width: 176px;
	height: 44px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'Proxima Nova SemiBold';
	text-decoration: none;
	display: inline-block;
	line-height: 44px;
	text-align: center;
}

.footer .right .center {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 16px;
	color: #7a7a7a;
	font-family: 'Proxima Nova Light';
}

.footer .right .center .login {
	color: #0a1b53;
	text-decoration: none;
}

.footer .right .social {
	width: 90%;
	margin: 40px auto 0;
}

.footer .right .social .item {
	float: left;
	width: 25%;
	text-align: center;
	line-height: 20px;
}

.footer .bottom {
	font-size: 15px;
	color: #7a7a7a;
	line-height: 24px;
	font-family: 'Proxima Nova Light';
	text-align: center;
	border-top: 1px solid #E0E0E0;
	padding: 20px 0 0 0;
	margin: 47px 0 0 0;
}

.footer .blue_back {
	width: 100%;
	background: url(/public/images/images_new/background2.png) no-repeat;
	background-size: cover;
	height: 85px;
	margin: 118px 0 0 0;
}

@media(min-width: 320px) {
	.footer .left,
	.footer .menu {
		width: 100%;
		float: none;
		margin-bottom: 25px;
	}

	.footer .right {
		margin: 0;
	}
}

@media(min-width: 992px) {
	.footer .left {
		width: 408px;
		padding: 0 0 25px 0;
	}

	.footer .right {
		width: 176px;
		float: none;
		clear: both;
	}

	.footer .menu {
		width: 567px;
	}

	.footer .left,
	.footer .menu,
	.footer .right {
		float: left;
		margin: 0;
	}
}

@media(min-width: 1230px) {
	.footer .right {
		float: left;
		clear: none;
	}
}