#panel .logo {
background-image: url(/m/img/logo.png);
width: 121px;
height: 44px;
margin: 8px 10px 0 10px ;
}
.type_animatedText .cont div {
position: absolute;
top: 0;
left: 0;
}
.type_animatedImage .cont div {
position: absolute;
top: 0;
left: 0;
}
.settingsDialog .fieldSet .field-wrapper {
width: 160px;
}
.settingsDialog input[type=file] {
width: 130px;
}

.settingsDialog:not .mid-float-box {
border: 1px solid #414141;
background: #fff;
}
.settingsDialog:not .dialog-footer .foot-wrap {
border-top: 1px solid #efefef;
padding-top: 10px;
margin-top: 5px;
padding-bottom: 5px;
background: #fff;
}
/* dialogs */
#button_message img {
max-width: 100px;
max-height: 50px;
}
#clipart_message img {
max-width: 100px;
max-height: 50px;
}

.settingsDialog .fieldSet_text {
border-bottom: 1px solid #575757;
}
